table.comments-box.fixed{
 table-layout:auto;
}
table.comments-box.fixed #the-comment-list td.column-author{
 width:30%;
}
th.column-wp-comment-subscriptions,td.column-wp-comment-subscriptions{
 text-align:center;
 width:5%;
}